<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85995482114-bj7ke4vg21mjs75pvlpmrma9469cib0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85995482114-bj7ke4vg21mjs75pvlpmrma9469cib0g</string>
	<key>API_KEY</key>
	<string>AIzaSyD8r1Hq74b-W7Q-zZdaYHOFAFFPTRve5lA</string>
	<key>GCM_SENDER_ID</key>
	<string>85995482114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasepractice-4684d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasepractice-4684d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85995482114:ios:41fbdbce6dd4dc0e878b1b</string>
</dict>
</plist>